<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881913570091-9r5rih9unaffiddn978b136rk8gnl0qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881913570091-9r5rih9unaffiddn978b136rk8gnl0qg</string>
	<key>API_KEY</key>
	<string>AIzaSyDWVCbILlEKyRVB9KRceloMGKZQwmLDII0</string>
	<key>GCM_SENDER_ID</key>
	<string>881913570091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.admin</string>
	<key>PROJECT_ID</key>
	<string>base-de-projet</string>
	<key>STORAGE_BUCKET</key>
	<string>base-de-projet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881913570091:ios:b66a5e0c48a96632f31b6e</string>
</dict>
</plist>